In [1]:
import pandas as pd
import numpy as np

In [3]:
ratings = pd.read_csv('../data/datasets/rating/details.csv', sep=',', encoding='latin-1')
ratings.head()

,user id,movie id,rating,content,date
0,ur20552756,tt0102813,6.0,I am a big fan of animated movies and of anima...,22 June 2011
1,ur0391152,tt0102813,4.0,I've always had kind of a perverse curiosity a...,22 August 2010
2,ur0688559,tt0102813,NaN,A street-smart dog from Las Vegas (voiced by R...,4 July 2002
3,ur34049683,tt0102813,5.0,Everything about this movie is from the mind o...,14 March 2013
4,ur23566468,tt0102813,5.0,Rover Dangerfield is loosely based on the late...,20 April 2020

In [4]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184298 entries, 0 to 184297
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user id   184298 non-null  object
 1   movie id  184298 non-null  object
 2   rating    162093 non-null  float64
 3   content   184298 non-null  object
 4   date      184298 non-null  object
dtypes: float64(1), object(4)
memory usage: 7.0+ MB

In [5]:
ratings = ratings.dropna(subset=['rating'])
ratings

,user id,movie id,rating,content,date
0,ur20552756,tt0102813,6.0,I am a big fan of animated movies and of anima...,22 June 2011
1,ur0391152,tt0102813,4.0,I've always had kind of a perverse curiosity a...,22 August 2010
3,ur34049683,tt0102813,5.0,Everything about this movie is from the mind o...,14 March 2013
4,ur23566468,tt0102813,5.0,Rover Dangerfield is loosely based on the late...,20 April 2020
5,ur4195782,tt0102813,3.0,I started out this movie with a positive attit...,8 August 2008
...,...,...,...,...,...
184290,ur1173088,tt0131704,4.0,The beginning of this movie is promising. It s...,29 June 2005
184291,ur2444068,tt0131704,5.0,Boris (Jason Alexander) and Natasha (Rene Russ...,20 January 2007
184292,ur0543054,tt0131704,5.0,"Somewhere in the heart of Frostbite Falls, our...",13 July 2000
184296,ur0631986,tt0131704,5.0,1st watched 3/10/2001 - (Dir-Des McAnuff) Humo...,10 March 2001
184297,ur0068788,tt0131704,10.0,I've been wanting to see this since I first he...,2 July 2001

In [6]:
duplicated_ratings = ratings[ratings.duplicated()]
duplicated_ratings

,user id,movie id,rating,content,date
41770,ur124770392,tt0112022,7.0,Very nice series that links the world of lawye...,21 November 2021
44331,ur130526612,tt13316722,10.0,Let me give this 10 because they're brave enou...,15 April 2021
52979,ur142493865,tt11253090,10.0,This movie is truly a masterpiece ! Great plot...,5 November 2021
52980,ur142493865,tt11253090,10.0,This movie is truly a masterpiece ! Great plot...,5 November 2021
52981,ur142493865,tt11253090,10.0,This movie is truly a masterpiece ! Great plot...,5 November 2021
52982,ur142493865,tt11253090,10.0,This movie is truly a masterpiece ! Great plot...,5 November 2021
52985,ur142493865,tt11253090,10.0,Woww woww wowwww.... RAJNI style never fails.....,5 November 2021
52987,ur142493865,tt11253090,10.0,A good Rajni movie after a long time. Enjoyed ...,5 November 2021
68459,ur45288585,tt6354518,9.0,This Japanese anime has a very peculiar music ...,8 July 2020
116854,ur117350213,tt0859594,9.0,This awesome movie could look like a kid's mov...,26 April 2020
127306,ur135952552,tt8489384,10.0,It's exactly what you'd expect. The same ten a...,26 August 2021
132134,ur137829817,tt14757872,2.0,The story doesn't make sense. So many plot hol...,23 September 2021
136616,ur108968869,tt4542568,10.0,"I love the story, i love the unique characters...",12 November 2019
155269,ur102979007,tt1016290,10.0,"In the film Crows Zero, Genji Takiya (Shun Ogu...",15 May 2019
157136,ur22487163,tt6742252,8.0,The advent of video and then discs has made fi...,27 February 2019
171306,ur22487163,tt10228168,8.0,Years ago my son suggested I watch a movie cal...,9 March 2020

In [7]:
ratings = ratings.drop_duplicates(keep='first')

In [8]:
duplicated_ratings = ratings[ratings.duplicated()]
duplicated_ratings

Empty DataFrame
Columns: [user id, movie id, rating, content, date]
Index: []

In [11]:
ratings.to_csv('../data/datasets/rating/cleaned_1_detail.csv', sep=',', encoding='latin-1', index=False)