In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('../data/datasets/movie/ml_detail.csv', sep=',', encoding='latin-1')

In [3]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8352 entries, 0 to 8351
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   movie id              8352 non-null   object
 1   title                 8352 non-null   object
 2   series                2243 non-null   object
 3   release year          8035 non-null   object
 4   certification         8146 non-null   object
 5   duration              8126 non-null   object
 6   average rating        8351 non-null   float64
 7   rating total          8351 non-null   object
 8   genre list            8352 non-null   object
 9   content               8352 non-null   object
 10  countries of origin   8281 non-null   object
 11  official sites        5458 non-null   object
 12  languages             8242 non-null   object
 13  production companies  0 non-null      float64
 14  budget                5360 non-null   object
 15  movie index           8352 non-null   int64
dtypes: float64(2), int64(1), object(13)
memory usage: 1.0+ MB

In [4]:
genres = set()
for i in movies['genre list']:
    genre_group = i.split("|")
    for genre in genre_group:
        genres.add(genre)

In [5]:
genres

{'Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western'}

In [6]:
genres = list(genres)
for genre in genres:
    movies[genre] = np.zeros(len(movies))

In [7]:
for i in range(len(movies)):
    genre_group = movies.iloc[i]['genre list']
    for genre in genre_group.split("|"):
        movies.at[i, genre] = 1

In [8]:
movies.head()

,movie id,title,series,release year,certification,duration,average rating,rating total,genre list,content,...,Horror,Biography,Game-Show,Mystery,History,Music,Short,Sport,Sci-Fi,Crime
0,tt0102813,Rover Dangerfield,NaN,1991,G,1h 14m,6.0,3K,Animation|Comedy|Family,A Vegas show dog gets ditched in the sticks an...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,tt1086761,Keeping Up with the Kardashians,TV Series,2006â2021,TV-14,44m,2.8,29K,Drama|Family|Reality-TV,A peek inside the exploits and privileged priv...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,tt0075686,Annie Hall,NaN,1977,PG,1h 33m,8.0,259K,Comedy|Romance,"Alvy Singer, a divorced Jewish comedian, refle...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,tt1402488,Happy Feet Two,NaN,2011,PG,1h 40m,5.9,44K,Animation|Adventure|Comedy,"Mumble's son, Erik, is struggling to realize h...",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,tt1087461,Megan Is Missing,NaN,2011,Not Rated,1h 25m,4.5,12K,Drama|Horror|Thriller,Two teenage girls encounter an Internet child ...,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
movies.to_csv('../data/datasets/movie/ml_detail.csv', sep=',', encoding='latin-1', index=False)