In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv('../data/datasets/movie/remaining_detail.csv', sep=',', encoding='latin-1')

In [3]:
movies.head()

,movie id,title,series,release year,certification,duration,average rating,rating total,genre list,content,countries of origin,official sites,languages,production companies,budget
0,tt0102813,Rover Dangerfield,NaN,1991,G,1h 14m,6.0,3K,Animation|Comedy|Family,A Vegas show dog gets ditched in the sticks an...,United States,NaN,English,NaN,NaN
1,tt1086761,Keeping Up with the Kardashians,TV Series,2006â2021,TV-14,44m,2.8,29K,Drama|Family|Reality-TV,A peek inside the exploits and privileged priv...,United States,Official sites|Official Facebook|Official Inst...,English|Spanish,NaN,NaN
2,tt0075686,Annie Hall,NaN,1977,PG,1h 33m,8.0,259K,Comedy|Romance,"Alvy Singer, a divorced Jewish comedian, refle...",United States,NaN,English|German,NaN,"$38,287,178"
3,tt1402488,Happy Feet Two,NaN,2011,PG,1h 40m,5.9,44K,Animation|Adventure|Comedy,"Mumble's son, Erik, is struggling to realize h...",Australia|United States|Antarctica|New Zealand,Official site,English,NaN,"$159,197,038"
4,tt1087461,Megan Is Missing,NaN,2011,Not Rated,1h 25m,4.5,12K,Drama|Horror|Thriller,Two teenage girls encounter an Internet child ...,United States,MySpace|Official site,English,NaN,NaN

In [4]:
movies.shape

(8352, 15)

In [5]:
ratings = pd.read_csv('../data/datasets/rating/remaining_detail.csv', sep=',', encoding='latin-1')

In [6]:
len(ratings['movie id'].value_counts())

8352

In [7]:
movie_ids = ratings['movie id'].value_counts().index.tolist()
movie_id_df = pd.DataFrame(columns=['movie id', 'movie index'])
movie_id_df['movie id'] = movie_ids
movie_id_df['movie index'] = np.arange(len(movie_ids))

In [8]:
user_ids = ratings['user id'].value_counts().index.tolist()
user_id_df = pd.DataFrame(columns=['user id', 'user index'])
user_id_df['user id'] = user_ids
user_id_df['user index'] = np.arange(len(user_ids))

In [9]:
len(user_id_df)

1390

In [10]:
df = pd.merge(ratings, movie_id_df, how='inner', on='movie id')
df.head()

,movie id,user id,rating,content,date,movie index
0,tt0102813,ur0391152,2,I've always had kind of a perverse curiosity a...,22 August 2010,6914
1,tt0102813,ur34049683,3,Everything about this movie is from the mind o...,14 March 2013,6914
2,tt0102813,ur23566468,3,Rover Dangerfield is loosely based on the late...,20 April 2020,6914
3,tt0102813,ur4195782,2,I started out this movie with a positive attit...,8 August 2008,6914
4,tt0102813,ur1657894,3,'Rover Dangerfield' is the animated story of d...,28 March 2006,6914

In [11]:
df = pd.merge(df, user_id_df, how='inner', on='user id')
df.head()

,movie id,user id,rating,content,date,movie index,user index
0,tt0102813,ur0391152,2,I've always had kind of a perverse curiosity a...,22 August 2010,6914,81
1,tt0387808,ur0391152,5,20th Century Fox was moronic not to release th...,6 November 2006,3393,81
2,tt0845046,ur0391152,5,It's the kind of movie that reminds me that th...,28 September 2008,3507,81
3,tt0113824,ur0391152,5,"A very moving animÃ© film from Studio Ghibli, ...",29 September 2003,3181,81
4,tt0455538,ur0391152,2,Based on the autobiographical tale of writer T...,6 October 2008,4699,81

In [12]:
df.to_csv('../data/datasets/rating/ml_detail.csv', sep=',', encoding='latin-1', index=False)

In [13]:
movies = pd.read_csv('../data/datasets/movie/remaining_detail.csv', sep=',', encoding='latin-1')

In [14]:
movies = pd.merge(movies, movie_id_df, how='inner', on='movie id')
movies.to_csv('../data/datasets/movie/ml_detail.csv', sep=',', encoding='latin-1', index=False)